.mast-head {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
    background-color: white;
    z-index:1;
    line-height: 50px;
}
.content {
    padding-top: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.content .list {
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ccc;
}
.content .player {
    height: 100%;
    overflow: hidden;
}
.home {
    float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 7px;
    margin-right: 15px;
}
.search-container {
    padding-left: 20px;
    width: 300px;
    display: inline-block;
}
.search {
    display: inline-block;
    width: 200px;
}
.search-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.yt-results {
    width: 480px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.yt-results:hover {
    background-color: lightgoldenrodyellow;
}
.lazy-load-list {
    margin-top: -15px;
    max-height: 500px;
    width: 500px;
    overflow:auto;
    background-color: white;
}
.yt-video-title {
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
}
.yt-img {
    float:left;
}
.yt-add-btn {
    float: right;
    margin-top: 35px;
}
.clickable {
    cursor:pointer;
}
.display {
    margin-bottom: 10px;
}
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.saved-lists-wrapper {
    border: 1px solid #ccc;
}
.saved-list-item {
    padding-left: 15px;
    background-color: white;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.saved-list-item:hover {
    background-color: #eeeeee;
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.2s;
    transition-delay:0.2s;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
    opacity:1;
}

/* you can use natural CSS transitions just
   as you would without using ngAnimate */
.fade-in {
    -webkit-transition:0.5s ease opacity;
    transition:0.5s ease opacity;
    opacity:1;
}

.fade-in.ng-hide,
.fade-in.ng-hide-add-active
{
    opacity:0;
}
.fade-in.ng-hide-add, .fade-in.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
}